<div class="article">
  <%= link_to article_path(article.id) do %>
  <div class="article-top-box">
    <% if article.user.image.attached? %>
      <%= image_tag article.user.image, class: "article-user-image" %>
    <% else %>
      <%= image_tag "random#{article.user.id % 5}.png", class: "article-user-image" %>
    <% end %>
    <div class="title-name-date">
      <div class="article-title"><%= article.title %></div>
      <div class="article-name-date">
        <div class="article-name"><%= link_to article.user.nickname, user_path(article.user.id) %></div>
        <div class="article-date"><%= article.created_at.strftime('%Y-%m-%d') %></div>
      </div>
    </div>
  </div>
  <div class="article-bottom-box">
    <ul class="article-tags">
      <% article.tags.each do |tag| %>
        <li class="article-tag"><%= tag.name %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>